* {
  box-sizing: border-box;
}

body {
  background-color: #edeff2;
  font-family: "Calibri", "Roboto", sans-serif;
}

.chat_window {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 610px;
  height: 490px;
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.top_menu {
  background-color: #fff;
  width: 100%;

  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.close {
  background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
  background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
  background-color: #a3d063;
}
.top_menu .title {
  text-align: center;
  color: #bcbdc0;
  font-size: 20px;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 30px;
  margin: 0;
  height: 30%;
  overflow: scroll;
  overflow-x: hidden;
  top:-30px;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages > .message:last-child {
  margin-bottom: 50px;
}
.messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.messages .message.left .text {
  color: #c48843;
}
.messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.messages .message.right .text {
  color: #45829b;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 5px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 17px;
  font-weight: 300;
}
.text {
  padding-left: 5px;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #fff;
  padding: 8px 20px;
  position: absolute;
  bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 100%;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: 70%;
  position: relative;
  padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.bottom_wrapper .send_message {
  width: 28%;
  height: 100%;
  display: inline-block;
  border-radius: 50px;
  background-color: #007daa;
  border: 2px solid #007daa;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message:hover {
  color: #a3d063;
  background-color: #fff;
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 32px;
}

.message_template {
  display: none;
}
.player{
  width: 100%;
  height: 60%;
}
.popup{
  height: 40px;
  position: relative;
  margin-top: -80px;
  padding: 12px;
}
.popup .popupele {
  float: right;
  margin-right: 10px;
}

.popupele{
    border: 1.2px solid #73cfcb;
    border-radius: 25px;
    padding: 3px 10px;
    position: relative;
    bottom: 5px;
    background-color: #f9f7f9;
}
.popupele img {
  margin-right: 3px;
}
.logo{
   position: relative;
   top: -20px;
   left:0px;
   background-color:white; 
   border-radius: 50%;
   width: 40px;
   height: 40px;
   overflow: hidden;
}
.logo > img {
  width: 32px;
  height: 32px;
  position: relative;
  top: 4px;
  left: 4px;
}

.controlpause{
  position: absolute;
  left: 48%;
  top: 54%;
  z-index: 3;
  width: 20px;
  height: 20px;
}
.controllike{
  position: absolute;
  left: 30%;
  top: 54%;
  z-index: 3;
  width: 20px;
  height: 20px; 
}

.controlnext{
  position: absolute;
  left: 66%;
  top: 54%;
  z-index: 3;
  width: 20px;
  height: 20px; 
}


.controllist{
  position: absolute;
  left: 90%;
  top: 1%;
  z-index: 3;
  padding: 6px; 
  height: 5%; 
}

.mvtitle{
  position: absolute;

  top:0.1%;
  z-index: 3;
  width: 100%;
  height:6%;
  font-size: large;
  color: white;
  padding: 2px;
  padding-left: 10px;

  background: rgba(0,0,0,0.5);
 
}

.nav-bar {
  position: absolute;
  top: 32%;
  width:100%;
  height:100px;
  border-bottom: 3px solid rgba(255,255,255,.25);
}

.nav-bar-now {
  position: absolute;
  top: 32%;
  width:33%;
  height:100px;
  border-bottom: 3px solid rgba(255,255,255,.75);
}